.chat{
  background-color: #000;
  padding: 0 20px;
  height: inherit;
}
.messagesContainer {
  height: calc(100vh - 88px);
  overflow: auto;
  padding: 12px;
  max-width: 400px;
}
.chat form {
  display: flex;
  justify-content: center;
  gap: 6px;
  height: 88px;
  padding: 20px 0;
}
.chat form button {
  height: 100%;
}