.messages {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  gap: 12px;
}
.messages li{
  display: flex;
}
.messages div > div span {
  text-wrap: balance;
  max-width: 350px;
}
.messageOwner {
  align-self: flex-end;
}
.messageOwner > div{
  flex-direction: row-reverse;
}
.messageOwner div > div span {
  align-self: flex-end;
}