.messages {
  list-style: none;
  padding: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  gap: 12px
}
.messages li{
  display: flex;
  align-items: end;
  flex-direction: column;
}
.messageOwner{
  align-self: flex-end;
}